*{
    color: rgb(18, 18, 19);
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
background-color: rgb(238, 238, 222);
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgb(223, 94, 148);
margin: 20px;}

img:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem em 20% */
}
img{
    
    justify-content: center;
    align-items: center;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
    
    cursor: zoom-in;
border-radius: 50%;
margin-bottom: 15px;
border-bottom: 15px;
padding-left: 15px;

}

p{margin-bottom: 15px;
    color: rgb(17, 17, 17);}

hr{
    color: rgb(18, 18, 19);
    height: 0.1px;
    width: 800px;
border-color: rgb(27, 27, 27);
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
margin-top: 40px;
}

h1{
    margin-bottom: 30px;
    color: rgb(20, 20, 20);
}
h2{margin-bottom: 40px;
    border-radius: 50%;
    margin-right: auto;
    border-bottom: 15px;
    margin-top: 40px;
    color: rgb(19, 20, 20);
    padding-left: 15px;}
    
   